    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
          <script>
              function renderMarkdownFile(filePath) {
                  fetch(filePath)
                      .then(response => {
                          if (!response.ok) {
                              throw new Error(`HTTP error! Status: ${response.status}`);
                          }
                          return response.text();
                      })
                      .then(markdown => {
                          marked.use({
                            pedantic: false,
                            gfm: true,
                          });
                          const html = marked.parse(markdown);
                          document.getElementById('markdown-container').innerHTML = html;
                      })
                      .catch(error => {
                          console.error('Error fetching Markdown file:', error);
                      });
              }
              renderMarkdownFile('https://raw.githubusercontent.com/qlibs/.github/main/profile/README.md');
          </script>

            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <hr />
                <div class="disable-css" id="markdown-container"></div>
            </div>
        </div>
    </section>

