    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <hr />
                <pre align="left" style="color:white; background-color: #202121; border: none; padding: 10px;">
Qlibs++ - Modern C++ libraries

  Mission

    Quality
      - C++20+ (gcc, clang, msvc*)
      - Compile-time self testing (can be disabled with -DNTEST)
      - Compiles cleanly with `-Wall -Wextra -pedantic -fsantize=memory/undefined | /WX /W4`
      - Focused on declarative interfaces (easy to use hard to misuse) and composability

    Performance
      - No virtual, No RTTI, No exceptions
      - Compile-time driven optimizations
      - x86-64* driven optimizations and benchmarks
      - Focused on fast compilation times

    Simplicity
      - Single header (including documentation and tests) 
      - Single purpose (unix philosophy)
      - Minimal dependencies (none or STL*)
      - Minimal API (available on compiler-explorer - https://compiler-explorer.com)

  * Selected libraries

---

  License (Boost Software License - Version 1.0) - https://www.boost.org/LICENSE_1_0.txt</pre>
            </div>
        </div>
    </section>
