    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download</h2>
                        
                    <ul class="list-inline banner-social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a href="https://github.com/qlibs/qlibs/releases" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">Releases</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
